@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  color: white;
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
  /* min-height: 100vh; */
}
.parallax {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax h2 {
  text-align: center;
  position: absolute;
  font-size: 5em;
  color: #fff;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.parallax a {
  /* top: 20%; */
  font-size: 2em;
  position: absolute;
  background-color: #003329;
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  color: #f9f9f9;
  z-index: 10000;
}
#cek1 {
  top: 20%;
}
#cek2 {
  top: 30%;
}
.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#leaf {
  top: 0;
}

.content {
  background-color: #003329;
  padding: 5%;
  position: relative;
}
.content h2 {
  text-align: center;
  margin: 5%;
  font-size: 3em;
  color: #fff;
  margin-bottom: 2%;
}
.content img {
  max-width: 76vh;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu img {
  display: inline-block;
  text-align: center;
  padding: 14px;
}
