#fadeNama {
    position: relative;
    animation-name: fadeinNama;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#fadeGambar {
    position: absolute;
    top: -150%;
    left: 19%;
    scale: 20%;
    animation-name: fadeinGambar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#fadeAbout {

    position: fixed;
    top: -75%;
    left: 5%;
    scale: 15%;
    animation-name: fadeinGambar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#fadeAbout2 {

    position: fixed;
    top: -100%;
    left: 40%;
    scale: 10%;
    animation-name: fadeinGambar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes fadeinNama {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes fadeinGambar {
    0% {
        opacity: 1%;
    }

    70% {
        opacity: 100%;
    }

    100% {
        opacity: 1%;
    }
}