#fadeNama {
    position: relative;
    animation-name: fadeinNama;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#fadeGambar {
    position: relative;
    top: -50%;
    scale: 50%;
    animation-name: fadeinGambar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes fadeinNama {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes fadeinGambar {
    0% {
        opacity: 5%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 5%;
    }
}